[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "8.0.0"
Sphinx = "7.2.6"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
