[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pip-tools = "7.4.0"
Sphinx = "7.2.6"
sphinx-rtd-theme = "2.0.0"
pytest = "8.0.0"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
